/* .footer {
    background-color: black;
    color: #fff;
    padding-bottom: 10px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #f5f5f5; */
    /* text-align: center;
    padding: 20px;
  }
  
  
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .footer__item {
    margin-bottom: 10px;
  }
  
  .footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .footer__social img {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .footer {
      padding: 30px;
    }
  
    .footer__container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .footer__item {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 992px) {
    .footer__social img {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
   */ 


   .footer {
    background-color: black;
    color: #fff;
    padding-bottom: 10px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  
  
  .footer__container {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* z-index: -2; */
  }
  
  .footer__item {
    margin-bottom: 10px;
  }
  
  .footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .footer__social img {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .footer {
      padding: 30px;
    }
  
    .footer__container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .footer__item {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 992px) {
    .footer__social img {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }